* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    
}

html {
    scroll-behavior: smooth;
}

body > * {
    font-family: 'Lexend Deca', sans-serif;
    
}

h1 {
    font-size: 52px;
    font-weight: 400;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

h3 {
    font-size: 36px ;
    font-weight: 300;
}

h4 {
    font-size: 28px;
    font-weight: 300;
}
p, li {
    font-size: 16px;
    font-weight: 300;
}

i {
    font-weight: 300;
    font-size: 16px;
}

.logo {
    margin: 0;
    height: 70px;
    width: auto;
}

.navBar a:not(.logo){
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    color: #fff;
    margin: 0 15px;
    transition: ease-in-out 0.2s;
}

.navBar a:not(.logo, a.btn):hover {
    color:#E75A7C;
}

a.btn.cta-btn {
    font-weight: 300;
}

p > a,
ul > a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 100;
    color: #E75A7C;
} 

p:not(footer p) {
    font-size: 16px;
    line-height: 2;
    padding: 20px 0;
}

h3 {
    font-weight: 400;
    font-size: 34px; 
    
}

.mobile-menu {
    color: #fff;
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.navItem {
    margin: 15px 0;
}

#mainNavigation {
    padding: 15px;
    background-color: #353d44;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #fff;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    flex-wrap: wrap;
}

.navBarLeft img {
    height: 40px;
    width: auto;
}

.navBarCenter {
    display: flex;
}

#hero {
    background-image: url(images/hero.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn-hero {
    margin: 5px;
}

.hero-layer { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(69 75 75 / 57%);
    display: flex;
    align-items: center;
    justify-content: center;

}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading h1 {
    color: #fff;
    text-align: center;
    line-height: 3.5rem ;
    
}

.heading span {
    font-size: 38px; 
    font-weight: 400;
}

.heroBtns {
    margin-top: 40px;
    display:flex;
}

.btn {
    padding: 8px 15px;
    background-color: #E75A7C;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    transition: all ease-in-out 0.2s;
}

.btn:hover {
    background-color: #e75a7b80;
   
}

.cta-btn-2 {
    background-color: #5C9EAD;
    transition: all ease-in-out 0.2s;
}

.cta-btn-2:hover {
    background-color: #5c9ead80;
    
}

main {
    padding-top: 90px;
}  

.section {
    padding: 150px 200px;
}

/***  Section 1 *****/

.section-1 {
    background-color: #fff;
    padding: 50px 200px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.intro-left {
    flex-basis: 50%;
    margin-right: 20%;
}

.intro-left p {
    padding: 20px 0;
    line-height: 2;
}

.intro-right img{
    height: auto;
    max-width: 320px;
}

/**** Section 2 ***/

.section-2 {
    background-color: #353d44;
    color: #fff;
}

.section-2 h3:not(.main-content h3) {
    margin-bottom: 50px ;
    display: flex;
}

.section-left, .section-right {
   
    max-width: 540px;
    max-height: 550px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: min-content;
    grid-column: 1/13;
}

.section-left {
    grid-column: 1/7;
    grid-row: 2/7;
    background-color: #fff;
    color: #353d44;
    z-index: 1;
    padding: 40px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.section-right {
    grid-column: 6/12;
    grid-row: 1/6;
    max-width: 100%;
    max-height: 100%;
}

.section-right img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/**** Section 3 ****/

.section-3 h3 {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
}

.section-3 .section-left {
    grid-column: 6/12;
    grid-row: 2/7;
    background-color: #353d44;
    color: #fff;
}
.section-3 .section-right {
    grid-column: 1/7;
    grid-row: 1/6;
}

/****** Statements ********/

.icons {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0;
    align-items: baseline;
}

.icon {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-basis: 33%;
}

.icon p {
    margin-top: 5%;
}

.fas{
    margin: 0 10%;
    font-size: 100px;
    color: #E75A7C;
   ;
}

/********* CTA ***************/

.cta-section {
    background-color: #353d44;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cta-section p {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

/*****FOOTER******/ 

footer {
    background: #353d44;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.phone, 
.mail,
.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}

.phone .icon:hover, 
.mail .icon:hover,
.address .icon:hover {
    cursor: pointer;
    
}

.phone {
    grid-column: 1/2;
}

.mail {
    grid-column: 2/3;
}

.address {
    grid-column: 3/4;
}

.line {
    grid-column: 1/4;
}

.icon-wrapper {
    background: #E75A7C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.icon-wrapper:hover {
    background-color: #e75a7b80;
}

.icon-wrapper .icon {
    font-size: 20px; 
    color: #fff;    
}

.phone p,
.mail p,
.address p {
    color: #fff;
    opacity: .49;
    max-width: 200px;
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.49);
    margin: 50px auto;
}

.links-col-left,
.links-col-center,
.links-col-right {
    justify-self: center;
}

.links-col-left ul,
.links-col-center ul,
.links-col-right ul {
    display: flex;
    flex-direction: column;   
    justify-content: space-between;   
}

.links-col-left a,
.links-col-center a,
.links-col-right a {
    color: rgba(255,255,255,0.49);
    margin: 5px 0;
} 

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
}

.wrapper-social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.49);
    margin: 80px 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-brands {
    color: rgba(255,255,255,0.49);
}

.img img {
    object-fit:cover;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 6px 13px 3px #cdcaca;
}

.instructions-flex {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.instructions h3 {
    margin-bottom: 40px;
}

.column {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.col-left {
    flex-basis: 10%;
    align-self:center;
    justify-self: center;
}

.col-right {
    flex-basis: 80%;
}

.col-right ul li {
    list-style: none;
}

.col-right h4 {
    margin-bottom: 20px;
}
.fa-calendar-check,
.fa-screwdriver-wrench, 
.fa-check {
    font-size: 50px;
    color: #E75A7C;
}

.cta-section-white {
    background-color: #fff;
    color: #353d44;
}

.image-grid-3 {
    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(auto, 200px);
    grid-gap: 20px;
}

.img3-1 {
    grid-column: 1/2;
    grid-row: 1/4;
}
.img3-2 {
    grid-column: 2/3;
    grid-row: 1/4;
}

.img3-3 {
    grid-column: 1/2;
    grid-row: 4/7;
}

.img3-4 {
    grid-column: 2/3;
    grid-row: 4/7;
}

.main-content li {
    margin-left: 20px;
}

.image-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-color: #353d44;
    color: #fff;
    
}

.section-2-a {
    background-color: #fff;
    color: #353d44;
}

.image-flex-left, .image-flex-right {
    margin: 0 20px;
    
}

.profile-pic {
    border-radius: 5px;
    box-shadow: 0 0 20px 5px #cac6c629;
}

.image-flex img {
    width: 100%;
    max-width: 400px;
    height: auto;
    box-shadow: 0 0 20px 5px #cac6c629;
    border-radius: 5px;
}

.cnt-flex {
    align-items: center;
}

.cnt-flex-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 800px;
}

.cnt-flex-right-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
}

.cnt-flex-right i {
    font-weight: 200;
    padding: 20px 0;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
}

.form {
    height: 1200px;
    margin-bottom: 60px;
}

.map {
    height: 600px;
    border: none;
    box-shadow: 0px 0px 20px 5px #cac6c6a3;
    border-radius: 10px;
}

.tel, .email  {
    font-weight: 400 !important;
    color: rgb(210, 206, 206);
    text-decoration: underline;
}

.name {
    padding: 80px 0px 20px 0px;
}

.section h1 {
    color: #353d44;
    text-align: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: max-content;
    margin: 0 auto;
    

}

.main-content > *:not(a) {
    padding: 20px 0;
}


.main-content p {
    max-width: 800px;
    
}

.main-content img {
    padding: 40px 0 40px 0;
    margin: 0 auto;
    width: 80%;
    border-radius: 5px;
}

.lists {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    padding: 0px 0px 40px 15px;
}

.left, .right {
    margin-right: 40px;
}

/****** Breakpoints *********/

@media (min-width: 1600px) {
    .section {
        padding-left: 300px;
        padding-right: 300px;
    }
}

@media (max-width: 900px) {
    .section-1 {
        flex-direction: column;
    }

    .section-3 h3 {
        justify-content: flex-start;
    }

    .intro-left {
        margin-right: 0;
        margin-bottom: 10%;
    }

    .section-left {
        grid-column: 1/13;
        grid-row: 4/7;
    }

    .section-right {
        grid-column: 1/13;
        grid-row: 1/4;
    }

    .section-3 .section-left {
        grid-column: 1/13;
        grid-row: 4/7;
        background-color: #353d44;
        color: #fff;
    }
    .section-3 .section-right {
        grid-column: 1/13;
        grid-row: 1/4;
    }

    .icons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon:nth-of-type(2) {
        margin: 10% 0;
    }

    .contact-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 1024px) {
    .section {  
        padding: 50px 20px;
    }

    .navBarCenter,
    .navBarRight {
        display: none;
    }

    .navBar {
        padding: 0 10px;
    }

    .mobile-menu {
        display: flex; 
    }

    #navLinks.show,
    #navCta.show {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #navCta .btn {
        background: none;
        text-align: left;
        padding: 0;
        margin: 15px 15px;
    }
}

@media (max-width: 424px) {
    .section-left {
        padding: 5%;
    }

    h3 {
        font-size: 28px;
    }

    .heroBtns {
        flex-direction: column;
    }

    h1 {
        font-size: 28px !important;
        font-weight: 400;
    }
    
    h2 {
        font-size: 22px;
        font-weight: 300;
    }
    
    h3 {
        font-size: 18px;
        font-weight: 300;
    }
    
    h4 {
        font-size: 16px;
        font-weight: 300;
    }

    p, li {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .image-flex {
        justify-content: center;
    }

    .phone,
    .mail,
    .address {
        grid-column: 1/4;
        margin: 20px 0;
    }

    .links-col-left,
    .links-col-center,
    .links-col-right {
        grid-column: 1/4;
}

    .links-col-right {
        margin-top: 80px;
}

    .heading span {
        font-size: 28px;
    }

    .img {
        grid-column: 1/5;
    }

    .img3-1,
    .img3-2,
    .img3-3,
    .img3-4 {
        grid-column: 1/3;
    }

    .img3-1 {
        grid-row: 1/4;
    }
    .img3-2 {
        grid-row: 4/7;
    }
    .img3-3 {
        grid-row: 7/10;
    }
    .img3-4 {
        grid-row: 10/13;
    }

    .column {
        flex-direction: column;
        text-align: center;
    }

    .col-left {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 40px;
        font-weight: 400;
    }
    
    h2 {
        font-size: 30px;
        font-weight: 300;
    }
    
    h3 {
        font-size: 26px;
        font-weight: 300;
    }
    
    h4 {
        font-size: 22px ;
        font-weight: 300;
    }  
}


